// Plz create a .env file and add your env vars there. and make sure to NEVER EVER commit that file to your repo
// As they include sensitive data

// README
// This is only a .env example
// Do not change this file, adding your OPENAI API KEY here!
// Use cp or mv (like this: cp env.example .env), then edit .env with your OPENAI API KEY.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid making your key public!)

OPENAI_API_KEY = "YOUR OPENAI API KEY HERE"